* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.logo {
    width: 100px;
    vertical-align: middle;
}

header {
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icons {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.container-flex {
    display: flex;
}

nav {
    width: 90px;
    height: calc(100vh - 40px);
    background-color: blue;
}

main {
    width: calc(100% - 90px);
    height: calc(100vh - 40px);
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.main-top {
    width: 100%;
    background-color: green;
    border: 2px solid black;
}

.main-left, .main-right {
    width: 50%;
}

.main-left section, .main-right section {
    background-color: green;
    border: 2px solid black;
    min-height: 100px;
}