* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #212529;
}

/* Link */
a {
    text-decoration: none;
}

/* Immagini */
img {
    max-width: 100%;
}

/* Titoli h2 */
h2 {
    font-size: 1.8rem;
    font-weight: normal;
}

/* Header */
header {
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
}

/* Logo */
.logo-bool {
    width: 100px;
    vertical-align: middle;
}

.logo-mobile {
    width: 25px;
    display: none;
}

/* Barra di ricerca */
.header-search {
    flex-grow: 1;
    padding: 0 10px;
    position: relative;
}

.input-search {
    border: 0;
    background-color: #E5E5E5;
    padding: 8px 8px 8px 30px;
    border-radius: 3px;
    width: 100%;
}

.header-search i {
    position: absolute;
    top: 8px;
    left: 17px;
}

/* Menu icone */
.header-icons {
    display: flex;
    gap: 14px;
    list-style-type: none;
    font-size: 0.8rem;
}

.header-icons .bell {
    position: relative;
}

.header-icons .bell:hover .icons-dropdown {
    display: block
}

/* Dropdown */
.icons-dropdown {
    list-style-type: none;
    position: absolute;
    left: auto;
    margin-right: 0;
    right: 0;
    top: 15px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9rem;
    display: none;
    z-index: 20;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

.icons-dropdown li {
    padding: 10px;
}

.header-icons i {
    color: #686565;
    vertical-align: middle;
}

.header-icons .bell i {
    color: #FF8F00;
}


/* Container flex */
.container-flex {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* Menu laterale a sinistra */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    height: calc(100vh - 50px);
    background-color: #0d2339;
    color: #fff;
    padding: 15px 0;
    font-size: 0.8rem;
}

nav a {
    color: #fff;
}

.menu-nav-top {
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 6px 0;
}

nav ul li i {
    display: block;
    width: 25px;
}

/* Main */
main {
    width: calc(100% - 110px);
    height: calc(100vh - 50px);
    overflow-y: auto;
}

/* Sezione blu in alto */
.main-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #1B72E8;
    height: 100px;
    color: #fff;
    padding-left: 10px;
    line-height: 30px;
}

.main-top-left {
    flex-grow: 1;
}

.main-top-left h2 {
    display: inline-block;
}

.main-top a {
    color: #fff;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, .2);
    padding: 3px 5px;
    border-radius: 20px;
}

.main-top-right {
    width: 30%;
}

.links-main-top {
    display: flex;
    gap: 5px;
    list-style-type: none;
    font-size: 0.8rem;
}

.link-desktop {
    display: block;
}

.link-mobile {
    display: none;
}

.link-mobile a {
    border-radius: 50%;
    padding: 3px 7px;
}


/* Sezioni in basso */
.main-bottom {
    display: flex;
    flex-wrap: wrap;
}

.main-left {
    width: 65%;
}

.main-right {
    width: 35%;
}

.main-left section, .main-right section {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}

.main-bottom section {
    margin: 10px;
    padding-bottom: 15px;
}

/* Parte titolo sezioni */
.title-section {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 12px;
    padding-bottom: 13px;
    border-radius: 3px 3px 0 0;
    position: relative;
    margin-bottom: 10px;
}

.title-section h2 {
    align-self: flex-start;
    color: #051E34;
    padding-top: 6px;
}

/* Bottone + */
.plus-button {
    color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    display: block;
    line-height: 38px;
    width: 35px;
    height: 38px;
    position: absolute;
    right: 10px;
    top: 6px;
    text-align: center;
    font-size: 1.4rem;
}

/* Liste sezioni */
.list-section {
    list-style-type: none;
    font-size: 0.9rem;
    margin: 0 10px;
}

#next-classes .list-section {
    display: flex;
    padding: 6px 0;
}

#next-classes .list-section {
    border-bottom: 1px solid #e0e3e7;
}

#next-classes .list-section li {
    min-width: 13%;
    text-align: center;
}

#next-classes .list-section .name-class {
    text-align: left;
    flex-grow: 1;
    padding-left: 6px;
}

.list-section h3 {
    font-size: 0.9rem;
}

#next-classes .list-section .name-class i {
    background-color: #f16551;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    padding: 6px 4px;
    font-size: 1rem;
    vertical-align: sub;
    margin-right: 4px;
    border: 0;
}

#next-classes .list-section li i {
    color: #6c757d;
    border: 1px solid #6c757d;
    border-radius: 3px;
    padding: 6px;
}

#next-classes .list-section li span {
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.7rem;
    color: #fff;
}

#faq .list-section i {
    color: #212529;
    font-size: 1.4rem;
}

.done {
    background-color: #198754;
}

.failed {
    background-color: #dc3545;
}

.process {
    background-color: #ffc107;
}

#faq .list-section > li {
    text-align: left;
    border-bottom: 1px solid #e0e3e7;
    position: relative;
    padding: 10px;
}

#faq .list-section li i {
    position: absolute;
    top: 8px;
    right: 10px;
}

.list-faq-hover {
    padding-top: 20px;
    list-style-type: none;
    padding-right: 20px;
}

.list-faq-hover, .icon-faq-hover, .list-section > li:hover .icon-faq {
    display: none;
}

.list-section > li:hover .list-faq-hover, .list-section > li:hover .icon-faq-hover {
    display: block;
}

#todo .list-section, #graph .list-section {
    border: 1px solid #e0e3e7;
    border-radius: 3px;
}

#todo .list-section li, #graph .list-section li {
    border-bottom: 1px solid #e0e3e7;
    padding: 12px;
}

#graph .list-section li:last-child {
    border-bottom: 0;
}

#graph {
    padding: 10px 0;
}

#todo .list-section li input {
    vertical-align: middle;
}

.list-section h4 {
    font-size: 1.4rem;
    padding-bottom: 10px;
    font-weight: normal;
}

@media all and (max-width: 855px) {

    .header-icons {
        padding-right: 5px;
    }

    .header-icons li:not(.bell) {
        display: none;
    }

    nav {
        width: 40px;
        align-items: center;
    }

    .logo-bool {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    main {
        width: calc(100% - 40px);
    }

    nav ul li i {
        width: auto;
    }

    nav ul li span {
        display: none;
    }

    .main-top {
        height: 150px;
    }

    .link-desktop {
        display: none;
    }

    .link-mobile {
        display: block;
    }

    .main-top-right {
        width: 100%;
    }

    .main-left, .main-right {
        width: 100%;
    }
} 

@media all and (min-width: 855px) and (max-width: 1020px) {

    .main-bottom .main-left {
        width: 58%;
    }

    .main-bottom .main-right {
        width: 42%;
    }

}  