* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.logo-bool {
    width: 100px;
    vertical-align: middle;
}

.logo-mobile {
    width: 25px;
    display: none;
}

header {
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-search {
    border: 0;
    background-color: #E5E5E5;
    padding: 8px;
    border-radius: 3px;
    width: 100%;

}

.header-search {
    width: 85%;
}

.header-icons {
    display: flex;
    gap: 14px;
    list-style-type: none;
    font-size: 0.8rem;
}

.header-icons i {
    color: #686565;
    vertical-align: middle;
}

.header-icons .bell i {
    color: #FF8F00;
}

.container-flex {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    height: calc(100vh - 50px);
    background-color: #0d2339;
    color: #fff;
    padding: 15px 0;
    font-size: 0.8rem;
}

nav a {
    color: #fff;
}

.menu-nav-top {
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 6px 0;
}

nav ul li i {
    display: block;
    width: 25px;
}



main {
    width: calc(100% - 110px);
    height: calc(100vh - 50px);
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.main-top {
    width: 100%;
    background-color: green;
    border: 2px solid black;
}

.main-left, .main-right {
    width: 50%;
}

.main-left section, .main-right section {
    background-color: green;
    border: 2px solid black;
    min-height: 100px;
}

@media all and (max-width: 480px) {
    #logo {
        padding-left: 10px;
    }

    .header-icons {
        padding-right: 5px;
    }

    .header-icons li:not(.bell) {
        display: none;
    }

    nav {
        width: 40px;
        align-items: center;
    }

    .logo-bool {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .header-search {
        padding: 0 10px;
    }

    main {
        width: calc(100% - 40px);
    }

    nav ul li i {
        width: auto;
    }

    nav ul li span {
        display: none;
    }
} 